{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Welcome to my gratitude application.</h1>

    <h2>Choose an action</h2>
    <form action="{{ baseUrl }}/reminder" method="post"><button>Remind me to be grateful now.</button></form>
{% endblock %}
