{% extends 'layout.html.twig' %}

{% block body %}
    {% if reminderSentSuccessfully %}
        <p>Your reminder has been sent successfully.</p>
    {% else %}
        <p>The reminder cannot be sent.</p>
    {% endif %}
{% endblock %}
